<!-- Home Page -->
{% extends "blog/base.html"%}

<!-- Title only for this site -->
{% block title %}Acceuil {% endblock %}
{% block content%} 
	<!--<div class="inner">--> 
	{% load static %}
	<marquee direction="right" onmouseout="this.start()" onmouseover="this.stop()" scrolldelay="1">
		<a href="http://blog.kaggle.com/" target="_blank"><img src="{% static 'image/LT001.png' %}" class="image"></a>
		<a href="http://www.dssgfellowship.org//blog/" target="_blank"><img src="{% static 'image/LT002.png' %}" class="image"></a>
		<a href="https://www.datacamp.com/community/blog" target="_blank"><img src="{% static 'image/LT003.png' %}" class="image"></a>
		<a href="https://www.codementor.io/community/topic/data-science" target="_blank"><img src="{% static 'image/LT004.png' %}" class="image"></a>
		<a href="https://www.dataversity.net/category/blogs/" target="_blank"><img src="{% static 'image/LT005.png' %}" class="image"></a>
		<a href="https://www.dataplusscience.com/insights.html" target="_blank"><img src="{% static 'image/LT006.png' %}" class="image"></a>
		<a href="https://datasciencedojo.com/blog/" target="_blank"><img src="{% static 'image/LT007.png' %}" class="image"></a>
		<a href="https://blog.datarobot.com/" target="_blank"><img src="{% static 'image/LT008.png' %}" class="image"></a>
		<a href="https://stackoverflow.com/" target="_blank"><img src="{% static 'image/LT009.png' %}" class="image"></a>
	</marquee>
	<!--</div>-->
<hr><div></div>
{% block sidebar %}
<style>
.card{box-shadow: 0 16px 48px #E3E7EB;}

.image {
	background-size: cover;
	width: 300px;
	height: 150px;
	margin-right:50px;
}

span{
margin-left: 25px;
}

</style>

<!-- Sidebar Widgets Column -->
<div class="col-xs-6 col-md-4 float-right ">
<form class="add_your_class">
    <input class="add_your_class" type="search" placeholder="Search.." name="search"> 
    <button class="add_your_class" type="submit"> Search </button>
</form>
<div class="card my-4">
    <h5 class="card-header">A Propos</h5>
    <div class="card-body">
        <p class="card-text"> "Ny mianatra mety, my mitadidy no tsara" (dicton malgache ; traduction libre : "apprendre c'est bien, se rappeler c'est encore mieux"). Ce blog, destiné aux data scientist, recense les supports de cours et didacticiels consacrés à la pratique de la data science (science des données) et des big data analytics.</p>
        <a href="https://drive.google.com/file/d/14yHABtcu69EGn0Dor7LYAvQIwPmDyNd7/view?usp=sharing" target="_blank"
           class="btn btn-primary">Lire Plus</a>
    </div>
</div>
<div class="card my-4">
    <h5 class="card-header">Mentions légales</h5>
    <div class="card-body">
        <p class="card-text">En savoir plus sur l'editeur du site, l'hébergeur du site, les responsables éditoriaux du site et la sécurisation des données personnelles</p>
        <a href="https://drive.google.com/file/d/1LetV2jwNzZ43lW02c-UAIHwZsvcXdn8w/view?usp=sharing" target="_blank"
           class="btn btn-warning">Lire la suite</a>
    </div>
</div>
</div><br>
{% endblock sidebar %} 
  {% for post in posts %}
  	<div class="col-xs-12 col-md-8 mt-3 left">
            <div class="card mb-4">
            	<img src="{{ post.author.profile.image.url }}" alt="author"  class="rounded-circle blog-content__img"/>
                <div class="card-body">
                    <h2 class="card-title text-primary">{{ post.title }}</h2>
                    <p class="card-text">{{post.content|safe|slice:":300" }}</p>
                  <div class="blog-content__metadata pt-1">
  					          <p> Auteur:
  					            <a class="mr-2 text-info" href="{% url 'profile' %}"> {{ post.author }}</a>
  					          </p>
  					          <!-- Django Date format for Europe -->
                      <span> Publié:
  					          <small class="mr-2 text-info">{{ post.created_at | date:"d.m.Y" }}</small>
                      </span>
                      <span> Commentaires:
                        <a class="mr-2 text-info" href="{% url 'post-detail' post.id %}">{{ post.comments.count }}</a>
                      </span>
					        </div>
                    <a href="{% url 'post-detail' post.id  %}" class="btn btn-primary">lirer &rarr;</a>
                 </div>
            </div>
    </div>
  {% endfor%} 
  <!-- render the list -->

{% if is_paginated %}
    {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-primary">Post Précédent &larr;</a>
    {% endif %}
    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}" class="btn btn-primary">Post Suivant &rarr;</a>
    {% endif %}
{% endif %}
{% endblock content%}