<!-- Impressum -->
{% extends "blog/base.html"%}

<!-- Title only for this site -->
{% block title %}Impressum{% endblock %}

{% block content%}
  <article role="impressum">
    <div class="row">
      <div class="col-md-9 mx-auto">
        <h1 class="border-bottom text-center my-4 pb-2">Profile Developer</h1>
        <div class="impressum-address pb-4">
          <address>
            Armel SOUBEIGA <br>
            Data Scientist - AI DevOps<br>
           linkedin: <a href="https://www.linkedin.com/in/armel-soubeiga-646316151/" style="color: blue;">https://www.linkedin.com/in/armel-soubeiga-646316151/</a><br>
          Github: <a href="https://github.com/armelsoubeiga" style="color: blue;">https://github.com/armelsoubeiga</a><br>
          Site web: <a href=" https://armelsoubeiga.github.io" style="color: blue;"> https://armelsoubeiga.github.io</a><br>
          E-Mail: armel.soubeiga@yahoo.fr<br>
          </address>
        </div>
        <p class="text-justify">
		Ce blog a été entièrement développé par Armel Soubeiga. Il a été créé par la technologie framework Django de Python. Armel est un développeur qualifié et travaille dans le domaine de l'intelligence artificielle (IA). Il fait partir de plusieurs communautés de développeurs de solution open en IA. À cet effet il développe également des solutions open source en IA pour l'Afrique.<br>
                Vous êtes une entreprise ses compétences sont à votre disposition pour le temps d'un projet, ...aaaah oui il travaille aussi en Freelance. Vous êtes un particulier et vous avez besoin d'un collaborateur pour votre projet IA, il est disponible et ouvert.<br>
                N'hésite surtout pas à faire un tour sur son site web pour observer ses travaux.
        </p>
      </div>
    </div>
      
  </article>
{% endblock content%}
